@import url('https://fonts.googleapis.com/css2?family=Big+Shoulders+Text:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Sofia+Sans:wght@400;700&display=swap');

@media only screen and (min-width: 768px) {
  .eventCard {
    height: 500px;
    width: 350px;
    border-radius: 10px;
    margin: 20px 0;
  }

  .eventCard-image {
    height: 40%;
    width: 100%;
    border-radius: 10px;
  }

  .eventCard-image > img {
    height: 100%;
    width: 100%;
    border-radius: 10px 10px 0px 0px;
  }

  .eventCard-content {
    width: 100%;
    height: 60%;
    background-color: #C490D1;
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-direction: column;
    border-radius: 0 0 10px 10px;
    color: #FFFFFF;
  }

  .eventCard-content-detail {
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-direction: column;
    height: 60%;
    margin: 0 20px;
    font-family: 'Sofia Sans', sans-serif;
  }

  .eventCard-content-detail :first-child {
    text-transform: uppercase;
    font-family: 'Big Shoulders Text', cursive;
  }

  .eventCard-content-detail :nth-child(2) {
    height: 56px;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 3;
    overflow: hidden;
  } 

  .bookmark {
    cursor: pointer;
  }

  .eventCard-content-detail > p {
    font-size: medium;
  }

  .eventCard-content-footer {
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 100%;
    font-family: 'Sofia Sans', sans-serif;
  }

  .eventCard-content-footer > :first-child {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  .eventCard-content-footer > div :first-child {
    margin: 0 10px;
  }

  .eventCard-content-footer img {
    height: 40px;
    width: 40px;
  }

  .eventCard-content-button button {
    border: none;
    height: 30px;
    background-color: #FFFFFF;
    color: #C490D1;
    font-weight: bold;
    width: 150px;
    border-radius: 10px;
    cursor: pointer;
  }
}