@media only screen and (min-width: 768px) {
  .error {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    font-size: xx-large;
    height: 50vh;
  }
}
